/*
Selectores se usan para definir los atributos
Los selectores pueden ser:
- Etiqueta HTML
- id
- class
*/

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
}

#header{
    width: 100%;
    height: 155px;
    background-color: #1d2d51;
    border-bottom: 5px solid yellow;
    border-top: 1px solid #cccccc;
}

#logo{
    width: 40%;
    font-size: 30px;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

#logo img{
    display: block;
    float: left;
    height: 120px;

}

#brand {
    display: block;
    color: whitesmoke;
    float: left;
    margin-top: 40px;
}

#menu {
    width: 80%;
    float: right;
    font-size: 20px;
}

#menu ul {
    line-height: 7px;
    width: 75%;
    float: right;
    margin-top: -56px;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: darkgray;
}




